$white: #FFF;
$black: #000;

$red: #A20C23;
$green-l: #009688;
$green-d: #175136;
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;
$soil:    #9f8b78;

$gray-1: lighten($black, 10%);
$gray-2: lighten($black, 20%);
$gray-25: lighten($black, 25%);
$gray-3: lighten($black, 30%);
$gray-4: lighten($black, 40%);
$gray-5: lighten($black, 50%);
$gray-6: lighten($black, 60%);
$gray-7: lighten($black, 70%);
$gray-75: lighten($black, 75%);
$gray-8: lighten($black, 80%);
$gray-85: lighten($black, 85%);
$gray-9: lighten($black, 90%);

// ---------- Add your own color definitions here in RGB values ------------/*