//////// customized buttons
.bg-theme {
  background: $theme;
}
.btn-theme {
  background: $theme;
  color: $white !important;
}
a.bg-theme, a.btn-theme, button.btn-theme {
  &:hover {
    background: darken($theme, 15%);
  }
}
.btn-outline-theme {
  border: 1px solid $theme;
  color: $theme;
  &:hover {
    background: $theme;
    color: $white;
  }
}
.btn-outline-white-theme {
  border: 1px solid $white;
  color: $white;
  &:hover {
    background: $white;
    color: $theme;
  }
}

/////////// separators

.separator-30 {
  height: 30px;
  @include d-b;
}
.separator-48 {
  height: 48px;
  @include d-b;
}
.separator-75 {
  height: 75px;
  @include d-b;
}
.separator-100 {
  height: 100px;
  @include d-b;
}

////////////////// change if browser displays horizontal scroll bar
/*
@include respond-to($md) {
  .container {
    padding: .3rem 0 !important;
    .row {
      padding: 0 !important;
    }
  }
}
@include respond-to($sm) {
  .container {
    box-sizing: border-box !important;
    width: 96% !important;
    padding: 1% !important;
  }
}*/

//Common class definitions here
//Don't change above lines
//Add your website specific custom styles below