body, html {
  height: 100%;
}
html {
  scroll-behavior: smooth !important;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  @include respond-to($sm) {
    width: 100%;
    padding: 0;
  }
}

@include scrollbar($theme);

.cursor-pointer {
  cursor: pointer;
}

// ---------------------------------
// Do not change the above
// Add your own website specific core scss here
// Examples for body, html. or whatever affects the entire web site
// ---------------------------------