// defined text colours-------------------

.text-theme {
  color: $theme !important;
}
.text-yellow {
  color: $yellow !important;
}
.text-gray-3 {
  color: $gray-3;
}
.text-gray-5 {
  color: $gray-5;
}
.text-gray-7 {
  color: $gray-7;
}
.text-gray-8 {
  color: $gray-7;
}
.text-gray-9 {
  color: $gray-7;
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
  text-align-last: left;
}

// --------------------------------------------
//Don't change above lines
//Add your website specific custom styles below