$bg-white: rgba($white,0.6) !default;
$bg-dark: $gray-4 !default;



// --------------
// Add your own variables below
// Ex: grid sizes, changes of other variables
// Add color variables in colors.scss file
// ---------------


//Change this to your main theme color
$theme: darken($red, 20%);
